﻿<div class="modal fade" id="add_movie_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Dodaj film</h4>
            </div>
            @using (Html.BeginForm("AddNewMovie", "Movie", FormMethod.Post))
            {
            <div class="modal-body">

                <table class="table tab-content">
                    <tr>
                        <td>Nazwa</td>
                        <td><input type="text" name="Name" /></td>
                    </tr>
                    <tr>
                        <td>Data</td>
                        <td><input type="date" name="ReleaseDate" value="@DateTime.Now.ToShortDateString()" /></td>
                    </tr>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                <input type="submit" class="btn btn-primary" value="Dodaj" />

            </div>
            }
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->