﻿<div class="modal fade" id="edit_movie_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edytuj film</h4>
            </div>
            @using (Html.BeginForm("EditMovie", "Movie", FormMethod.Post))
            {
                <div class="modal-body">

                    <table class="table tab-content">
                        <tr>
                            <td>Nazwa</td>
                            <td><input type="text" id="EditName" name="Name" /></td>
                        </tr>
                        <tr>
                            <td>Data</td>
                            <td><input type="date" id="EditReleaseDate" name="ReleaseDate" /></td>
                        </tr>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                    <input type="submit" class="btn btn-primary" value="Zapisz" />
                    <input type="hidden" value="" id="EditId" name="Id"/>
                </div>
            }
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->