﻿@model TomaszWojciechowskiLab5.Models.Movie
@{
    ViewBag.Title = "Index";
}

<h2>Tytuł storny, nagłówek</h2>
<div>
    @using (Html.BeginForm("AddNewMovie", "Movie", FormMethod.Post))
    {
        @Html.DisplayNameFor(model => model.Name);
        @Html.EditorFor(Model => Model.Name);
        @Html.DisplayNameFor(model => model.ReleaseDate);
        @Html.EditorFor(Date => Date.ReleaseDate);
        <input type="submit" value="Wyślij"/>
    }
</div>