﻿@model List<TomaszWojciechowskiLab5.Models.Movie>
@{
    ViewBag.Title = "ShowAll";
}
@Html.Partial("~/Views/Movie/_AddNewMovieModal.cshtml")
@Html.Partial("~/Views/Movie/_EditMovieModal.cshtml")

<h2>Wszystkie filmy</h2>

<div>
    <button id="add_new_movie_button" class="btn btn-default">Dodaj nowy film</button>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th class="col-md-1">
                    Id
                </th>
                <th class="col-md-4">
                    Nazwa
                </th>
                <th class="col-md-3">
                    Data
                </th>
                <th class="col-md-4">
                    Akcje
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model)
                {
                    <tr id="@item.ID">
                        <td>@item.ID</td>
                        <td>@item.Name</td>
                        <td>@item.ReleaseDate.ToShortDateString()</td>
                        <td>
                            <button id="edit @item.ID @item.ReleaseDate.ToShortDateString() @item.Name" class="btn btn-primary edit">Edytuj</button>
                            <button id="delete @item.ID" class="btn btn-danger delete">Usuń</button>
                        </td>
                    </tr>
                }
            }
        </tbody>

    </table>

</div>
<script type="text/javascript">
    $(document).ready(function () {
        // obsługa przycisku add new movie
        $('#add_new_movie_button').click(function () {
            $('#add_movie_modal').modal('show');
        });
        //obsługa delete
        $('.delete').click(function () {
            var id = $(this).prop('id').substring(7);
            $.ajax({
                url: "/Movie/DeleteById",
                type: "POST",
                data: { movieId: id },
                success: function () {
                    $('#' + id).remove();
                },
                error: function () {
                    alert("Nie udało się!");
                }
            });
        });
        // obsługa edit
        $('.edit').click(function () {
            var str = $(this).prop('id').substring(5);
            var id = str.split(" ", 1);
            var date = str.split(" ", 2)[1];
            var index = str.indexOf(date) + date.length + 1;
            var name = str.substring(index);
            $('#edit_movie_modal').modal('show');
            $('#EditReleaseDate').val(date);
            $('#EditId').val(id);
            $('#EditName').val(name);
        });
    })

</script>