﻿@model TomaszWojciechowskiLab5.Models.Movie
@{
    ViewBag.Title = "UpdateById";
}

<h2>UpdateById</h2>

@Html.BeginForm("Save", "Movie", FormMethod.Post)
{
@Html.HiddenFor(Model => Model.ID)
@Html.DisplayNameFor(Model => Model.Name)
@Html.EditorFor(Model => Model.Name)
@Html.DisplayNameFor(Model => Model.ReleaseDate)
@Html.EditorFor(Model => Model.ReleaseDate)
<input type="submit" value="Zapisz">
}